bedrock/aws/step_functions/process_etl_run_group/states.json
{
    "Comment": "State machine to run a single ETL run group",
    "StartAt": "Init",
    "States": {
      "Init": {
        "Comment": "Create the run map to initialize the run.",
        "Type": "Task",
        "Resource": "arn:aws:lambda:us-east-1:382274149743:function:create_run_map",
        "Parameters": {
          "s3bucket": "managed-data-assets-dev",
          "rungroup": "daily"
        },
        "ResultPath": "$",
        "Next": "Check200"
      },
      "Check200": {
        "Comment": "Make sure there wasn't an error return",
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.statusCode",
            "NumericEquals": 200,
            "Next": "IsGo"
          }
        ],
        "Default": "Failed",
        "OutputPath": "$.body"
      },
      "IsGo": {
        "Comment": "Make sure there wasn't an error return",
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.go",
            "BooleanEquals": true,
            "Next": "ProcessSet"
          },
          {
            "Not": {
              "Variable": "$.go",
              "BooleanEquals": true
            },
            "Next": "Done"
          }
        ],
        "Default": "Done"
      },
      "ProcessSet": {
        "Type": "Map",
        "MaxConcurrency": 5,
        "InputPath": "$",
        "ItemsPath": "$.next",
        "Parameters": {
          "ETLJobIndex.$": "$$.Map.Item.Index",
          "ETLJob.$": "$$.Map.Item.Value",
          "AssetsMap.$": "$.all_assets"
        },
        "Iterator": {
          "StartAt": "ProcessOneJob",
          "States": {
            "ProcessOneJob": {
              "Type": "Pass",
              "OutputPath": "$.ETLJob",
              "End": true
            }
          }
        },
        "Next": "Done",
        "ResultPath": "$.results"
      },
      "Failed": {
        "Type": "Fail",
        "Cause": "Not Hello World"
      },
      "Done": {
        "Type": "Succeed"
      }
    }
  }
  