bedrock/aws/step_functions/process_etl_run_group/states.json
{
    "Comment": "State machine to run a single ETL run group",
    "StartAt": "Init",
    "States": {
      "Init": {
        "Comment": "Create the run map to initialize the run.",
        "Type": "Task",
        "Resource": "arn:aws:lambda:us-east-1:382274149743:function:create_run_map",
        "Parameters": {
          "s3bucket": "managed-data-assets-dev",
          "rungroup": "daily"
        },
        "ResultPath": "$",
        "Next": "Hello World example?"
      },
      "Hello World example?": {
        "Comment": "A Choice state adds branching logic to a state machine. Choice rules can implement 16 different comparison operators, and can be combined using And, Or, and Not",
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.statusCode",
            "NumericEquals": 200,
            "Next": "Yes"
          },
          {
            "Not": {
              "Variable": "$.statusCode",
              "NumericEquals": 200
            },
            "Next": "No"
          }
        ],
        "Default": "Yes"
      },
      "Yes": {
        "Type": "Pass",
        "Next": "Wait 3 sec",
        "OutputPath": "$.body"
      },
      "No": {
        "Type": "Fail",
        "Cause": "Not Hello World"
      },
      "Wait 3 sec": {
        "Comment": "A Wait state delays the state machine from continuing for a specified time.",
        "Type": "Wait",
        "Seconds": 3,
        "Next": "Parallel State"
      },
      "Parallel State": {
        "Comment": "A Parallel state can be used to create parallel branches of execution in your state machine.",
        "Type": "Parallel",
        "Next": "Hello World",
        "Branches": [
          {
            "StartAt": "Hello",
            "States": {
              "Hello": {
                "Type": "Pass",
                "End": true
              }
            }
          },
          {
            "StartAt": "World",
            "States": {
              "World": {
                "Type": "Pass",
                "End": true
              }
            }
          }
        ]
      },
      "Hello World": {
        "Type": "Pass",
        "End": true
      }
    }
  }
  